@{ 
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}

@section header 
{
    <p>Bu kod header'ın hemen altında bulunacak.</p>    

}

@section footer{ 

    <p>bu kod footer'dan hemen sonra yer alacak</p>
}



<div>Bu sayfa example controller > index sayfasıdır</div>